body {
  text-align: center;
  background-color: darkslategrey;
}

.main-wrapper {
  display: inline-block;
  text-align: center;
  background-color: darkslategrey;
}

p {
  text-align: center;
  color: white;
}

canvas {
  margin: 5px;
  background-color: darkslategrey;
}
